* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
PALeTA de COREs:
COR01 = 136A94
COR02 = 318FBD
COR03 = 59BEEE
COR04 = 0D4058
COR05 = 06171F
*/

body {
    background-color: #136A94;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 0px;
    background-color: #333;
}

header h1 {
    text-align: center;
    color: cornsilk;
}

h2 {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container img {
    width: auto;
    height: 300px;
}

#banner {
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
}

.controles {
    width: 250px;
    background-color: #59BEEE;
    border: 1px solid #0000008f;
    border-radius: 5px;
    margin: auto;
}

.controles img {
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
    padding: 0px 10px;
}

footer {
    background-color: #0D4058;
    text-align: center;
    color: whitesmoke;
    padding: 20px 0px;
}